* { margin:0; padding:0; }
a { color: inherit; text-decoration:none;}
html, body {width: 100%; height:100%;}
body {
    font-size:20px;
    font-family:"Open Sans",sans-serif;
}
header {
    display:block;
    background-color: #D32F2F; /*#993434;*/
    padding:0.75em;
    color:white;
}
#notfooter {
    box-sizing:border-box;
    min-height: 100%;
    padding-bottom:3em;
}
footer {
    display:block;
    background-color: #D32F2F; /*#993434;*/
    padding:0.75em;
    color:white;
    height: 1.5em; line-height:1.5em;
    margin-top:-3em;
}
h1 {
    font-weight:300;
    font-size:3em;
    margin-bottom:0.25em;
}
h1 img {
    height: 1.3em;
    margin-bottom:-0.27em;
    margin-right: 0.1em;
}

#club-list {
    margin:0.25em;
    margin-top: 1em;
    text-align:center;
}

#club-list .club {
    display:inline-block;
    width:8em;
    margin:2em;
    color:black;
    text-decoration: none;
    vertical-align:top;
}

#club-list .club img {
    margin:auto;
    display:block; height: 8em;
}

#club-list .club .label {
    text-align:center;
    margin-top:1em;
}

#club-calendar {
    box-sizing:border-box;
    width:100%;
    margin:auto;
    padding:3em;
    min-width:60em;
    display: table;
}

#club-calendar .week {
    width:100%;
    display: table-row;
}

#club-calendar .week .date {
    display:table-cell;
    width:20%; vertical-align:top;
    padding:1em;
}

#club-calendar .past.date {
    opacity:0.5;
}

#club-calendar h2 {
    text-align: center;
}

#club-calendar .this.week h2 {
    padding-top:0;
    padding-bottom:0.5em;
    font-weight:400;
}

#club-calendar h3 {
    font-weight:bold;
    text-align:center;
    padding-top:0.5em; padding-bottom:0.5em;
}

#club-calendar .this.week h3:not(:first-of-type) {
    padding-top:2em;
}

#club-calendar .future.week h2, #club-calendar .future.week h3 {
    font-size:1em;
}

#club-calendar .future.week .location {
    display:none;
}

#club-calendar .this.week .date {
    padding-top:0;
}

#club-calendar .club {
    display:block;
    clear:both;
    min-height:2.4em;
    width:100%;
}

#club-calendar .this.week .club {
    padding-top:1em; padding-bottom:1em;
}

#club-calendar .future.week .club {
    padding-top:0.25em; padding-bottom:0.25em;
}

#club-calendar .club .labelbox {
    display:table; width:100%;
}

#club-calendar .club .labelbox {
    display:table; width:100%;
}

#club-calendar .club .labelbox > * {
    display:table-cell; vertical-align: middle;
    text-align: center;
}

#club-calendar .club .imgcontainer {
    padding-right:0.25em;
    width:2.4em; text-align:center;
}


#club-calendar .club .labelbox .imgcontainer img {
    height:2.4em;
}

#club-detail {
    max-width:40em; margin:auto;
    margin-top:2em; margin-bottom:2em;
    line-height:1.8em;
    padding-left:1em; padding-right:1em;
}

#club-detail .short-description {
    font-size:2em; font-weight:300;
    margin-bottom:1em;
    text-align:center;
}

#club-detail .short-description img {
    height:1.5em; vertical-align: bottom;
    margin-bottom: -0.3em;
    margin-right: 0.2em;
}

#club-detail .long-description, #club-detail .important-info {
    margin-bottom:1.5em;
}

#club-detail a {
    color: #a32823;
}

#club-detail a:hover {
    color: #c25c5e;
}

#club-detail h2 {
    font-size: 1.5em;
    font-weight: 400;
}

#club-detail li {
    margin-left:2em;
}

@media (max-width: 1200px) {
    #club-calendar {
        padding:0.5em;
        min-width:55em;
    }
}
@media (max-width: 1099px) {
    #club-calendar {
        padding-left:0; padding-right:0;
        min-width:49em;
    }
    #club-calendar .week .date {
        padding:0.5em;
    }
}
@media (max-width: 980px) {
    body {
        font-size:15px;
    }
}
@media (max-width:735px) {
    #club-calendar {
        display:block;
        min-width:10em;
        max-width:15em;
    }
    #club-calendar .week {
        display:block;
    }
    #club-calendar .week .date {
        display:block;
        width:100%;
    }
    #club-calendar .this.week h2, #club-calendar .future.week h2 {
        font-size:1.5em;
        font-weight:bold;
    }
    #club-calendar .week h3 {
        font-size:1em;
        font-weight:bold;
    }
    #club-calendar .past.date {
        display:none;
    }
    #club-calendar .future.week .location {
        display:inline;
    }
}

@media (max-width:420px) {
    h1 {
        font-size:2em;
    }
    #club-list .club {
        width:6em;
    }
    #club-list .club img {
        height:6em;
    }
}