<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:700,400,300' rel='stylesheet' type='text/css'>
  <title>LVCP {% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
</head>
<body>
  <div id="notfooter">
    <header>
        <h1><a href="/"><img src="/lvcp.png" alt="LVCP"></a> {{ self.title() }}</h1>
        <nav><a href="/">Club Directory</a> | <a href="/calendar">Club Calendar</a> <!--| <a href="#">Club Council</a>--></nav>
    </header>
    {% block content %}{% endblock %}
  </div>
  <footer>
    <nav><a href="http://goo.gl/forms/pScmDjPt5X">Mistakes?</a></nav>
  </footer>
</body>
</html>