{% extends "base.html" %}
{% block title %}Club Calendar{% endblock %}
{% macro club(clubkey) -%}
  <a class="club" href="/club/{{ clubkey }}">
    <div class="labelbox">
      <div class="imgcontainer"><img src="{{ clubs[clubkey].icon_url }}" alt="{{ clubs[clubkey].name }}"></div>
      <div class="label">{{ clubs[clubkey].name }}
        <span class="location"><br>{{ clubs[clubkey].meeting_location }}</span>
      </div>
    </div>
  </a>
{%- endmacro %}
{% block content %}
  <div id="club-calendar">
    {% for week in weeks %}
    <div class="{% if loop.first %}this{%else%}future{% endif %} week">
      {% for day in week %}
      <div class="{% if day < today %}past {% endif %}date">
        <h2>
          {% if day == today-oneday %}Yesterday
          {% elif day == today %}Today
          {% elif day == today+oneday %}Tomorrow
          {% elif week[0] <= today %}{{ day.strftime("%A") }}
          {% else %}{{ day.strftime("%b %d")}}
          {% endif %}
        </h2>
        {% if meetings[day] %}
          {% if meetings[day].before_school %}
            <h3>Before School</h3>
            {% for clubkey in meetings[day].before_school %}
              {{ club(clubkey) }}
            {% endfor %}
          {% endif %}
          
          {% if meetings[day].lunch %}
            <h3>Lunch</h3>
            {% for clubkey in meetings[day].lunch %}
              {{ club(clubkey) }}
            {% endfor %}
          {% endif %}
          
          {% if meetings[day].after_school %}
            <h3>After School</h3>
            {% for clubkey in meetings[day].after_school %}
              {{ club(clubkey) }}
            {% endfor %}
          {% endif %}
        {% endif %}
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
{% endblock %}