{% extends "base.html" %}
{% block title %}{{ club.name }}{% endblock %}
{% block content %}
  <div id="club-detail">
    <div class="short-description">
      <img src="{{ club.icon_url }}" alt="{{ club.name }}"> {{ club.short_description }}
    </div>
    {% if club.long_description %}
    <div class="long-description">
      {{ club.long_description }}
    </div>
    {% endif %}
    <div class="important-info">
      The {{ club.name }} meets <strong>{{ club.meeting_day }} {{ club.meeting_time }}</strong> in <strong>{{ club.meeting_location }}</strong>. Contact Student Leader <strong>{% if club.student_leader_email %}<a href="mailto:{{ club.student_leader_email }}">{{ club.student_leader }}</a>{% else %}{{ club.student_leader }}{% endif %}</strong> for more information.
    </div>
    {% if club.updates %}
      <div class="recent-updates">
        <h2>Recent Updates</h2>
        <ul>
          {% for update in club.updates %}
            <li><a href="{{ update.url }}">{{ update.title }}</a> on {{ update.date }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
{% endblock %}