{% extends "base.html" %}
{% block title %}Club Directory{% endblock %}
{% block content %}
  <div id="club-list">
    {% for club in clubkeys %}
      <a class="club" href="/club/{{ club }}">
        {% if clubs[club].icon_url %}<img src="{{ clubs[club].icon_url }}" alt="{{ clubs[club].name }}">{% endif %}
        <div class="label">{{ clubs[club].name }}</div>
      </a>
    {% endfor %}
  </div>
{% endblock %}